.order-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.main-content {
    margin: 20px;
    flex: 1 1 75%;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow: hidden;
}

.sidebar {
    flex: 1 1 18%;
    background-color: #f8f9fa;
    min-height: 100%;
    width: 100%;
}

