.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
  max-width: 100%;
}

.book-list-container {
  flex: 1 1 75%;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.cart-container {
  flex: 1 1 20%; 
  margin-right: 10px;
  padding: 15px; 
}

.book-list-container p {
  font-size: 1rem; 
  color: #555;
  text-align: center;
}

.cart-container h2 {
  font-size: 1.2rem; 
  font-weight: bold;
  margin-bottom: 15px; 
}

.cart-container p {
  font-size: 1rem; 
  color: #555;
}

