.order-detail {
    padding: 20px;
}

.order-info p,
.order-payment p {
    font-size: 16px;
    margin-bottom: 8px;
}

.order-items {
    list-style: none;
    padding: 0;
}


.order-item-detail {
    list-style: none;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

.order-item-detail p {
    margin: 5px 0;
}

.loading {
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
}

.cancel-order-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.cancel-order-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancel-order-button:hover {
    background-color: #d32f2f;
}

.cancel-order-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    color: #666;
}