.order-detail {
    padding: 20px;
}

.order-info p,
.order-payment p {
    font-size: 16px;
    margin-bottom: 8px;
}

.order-items {
    list-style: none;
    padding: 0;
}


.order-item-detail {
    list-style: none;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

.order-item-detail p {
    margin: 5px 0;
}

.loading {
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
}
